@font-face {
    font-family: "NorseBold";
    src: url("../media/Norse-Bold.otf");
}

:root {
    --bckgrnd-primary: #f9fafb;
    --bckgrnd-secondary: #ffffff;
    --btn-clr: #596d48;
    --sys-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --main-font-clr: #3a2a36;
    font-family: var(--sys-font);
}

body {
    display: flex;
    margin: 0;
    padding: 0;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

header {
    flex: 1;
    background: url("../media/backgroung-img.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    div {
        margin-top: 30%;
        background-color: rgba(0, 0, 0, 0.315);
        width: 100%;
        padding: 20px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        h1 {
            font-size: 7rem;
            font-family: "NorseBold", var(--sys-font);
        }
    }
    p {
        text-align: center;
    }
}

main {
    flex: 2;
    background-color: var(--bckgrnd-primary);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    color: var(--main-font-clr);
    &>* {
        padding-left: 20px;
    }
}

.introduction {
    font-size: 1.5rem;
    color: var(--main-font-clr);
    p {
        width: 80%;
    }
}


form {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--bckgrnd-secondary);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
    h2 {
        font-size: 1.8rem;
        font-weight: 600;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-top: 25px;
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        li {
            display: flex;
            flex-direction: column;
            gap: 2px;
            min-width: calc(50% - 8px);
            padding: 8px 8px 8px 0;
            input {
                width: 250px;
                height: 25px;
                border: 1.8px solid rgba(58, 42, 54, 0.2);
                border-radius: 3px;
                font-family: var(--sys-font);
                padding: 4px;
                font-size: 1.4rem;
                font-weight: 100;
                color: var(--main-font-clr);
            }
            label {
                font-size: 0.8rem;
                font-weight: 600;
            }
        }
    }
}

button {
    background-color: var(--btn-clr);
    color: var(--bckgrnd-secondary);
    font-size: 1.2rem;
    font-weight: 600;
    border: 0px;
    border-radius: 5px;
    width: 260px;
    height: 50px;
    box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.2);
}

.form-button p {
    font-weight: 600;
    a {
        color: var(--btn-clr);
        text-decoration: none;
    }
}

button:hover{
    background-color: #677c55;
}

button:active {
    background-color: #4f633e;
}